name: Build Image

on:
  push:
    branches:
      - master
    tags:
      - "v*"
  workflow_dispatch:
    branches:
      - master

env:
  REGISTRY: quay.io
  IMAGE_BASE: quay.io/keylime

jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_TOKEN }}

      - name: Generate docker metadata for keylime_agent
        id: meta_agent
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.IMAGE_BASE }}/keylime_agent
          tags: |
            type=ref,enable=true,priority=600,prefix=,suffix=,event=branch
            type=ref,enable=true,priority=600,prefix=,suffix=,event=tag
            type=sha,prefix=sha-

      - name: Build and push agent image
        id: build_agent
        uses: docker/build-push-action@v6
        env:
          VERSION: "${{ steps.meta_base.outputs.version }}"
        with:
          context: .
          file: docker/release/Dockerfile.fedora
          push: true
          tags: ${{ steps.meta_agent.outputs.tags }}
          labels: ${{ steps.meta_agent.outputs.labels }}
