---
name: "Mockoon Tests"

"on":
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  mockoon-tests:
    runs-on: ubuntu-latest
    container:
      image: quay.io/keylime/keylime-ci:latest
    steps:
      - uses: actions/checkout@v5
      - name: NPM installation
        run: dnf install -y npm
      - name: Run Mockoon CLI
        uses: mockoon/cli-action@v2
        with:
          version: latest
          data-file: keylime-push-model-agent/test-data/verifier.json
          port: 3000
      - name: Set git safe.directory for the working directory
        run: git config --system --add safe.directory "$PWD"
      - name: Mockoon tests custom script execution
        run: bash tests/mockoon_tests.sh
