name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  static:
    name: Static code checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Check formatting
      run: cargo fmt --all -- --check
    - name: Check for panics
      run: ./tests/nopanic.ci

  tests:
    name: Fedora tests
    runs-on: ubuntu-latest
    container:
      image: quay.io/keylime/keylime-ci:latest
    steps:
    - uses: actions/checkout@v6
    - name: Set git safe.directory for the working directory
      run : git config --system --add safe.directory "$PWD"
    - name: Run tests
      run: bash tests/run.sh
    - uses: actions/upload-artifact@v7
      with:
        name: tarpaulin-report
        path: |
          tarpaulin-report.json
          tarpaulin-report.html
