name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install build dependencies
      run: sudo apt-get install libtss-dev pkg-config
    - name: fmt
      run: cargo fmt --all -- --check
    - name: Run tests
      run: cargo test
    - name: No Panic
      run: ./.ci/nopanic.py
